.elements{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    justify-items: center;
    row-gap: 20px;
    column-gap: 17px;
    margin: 0;
    padding: 0px;
}

@media screen and (max-width: 919px){
    .elements{
        max-width: 581px;
        margin: auto;
    }
}