.footer__copyright{
    margin: 67px 0 0 0;
    font-weight: normal;
    font-size: 18px;
    color: #545454;
    width: 318px;
    height: 18px;
}

@media screen and (max-width: 470px){
    .footer__copyright{
        font-size: 14px;
        margin: 48px 0 0 20px;
    }
}