.header{
    height: 74px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    margin-bottom: 40px;
}

.header__logo{
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 470px){
    .header__logo{
        width: 126px;
        height: 24px;
        margin-left: 27px;
    }

    .header{
        width: 100vw;
    }
}