.page{
    text-rendering: optimizeLegibility;
    max-width: 880px;
    overflow-x: hidden;
    margin: auto;
    padding: 45px 20px 60px;
    font-family: 'Inter', Arial, serif;
    font-weight: normal;
    color: white;
}

@media screen and (max-width: 470px){
    .page{
        padding: 28px 0px 36px 0px;
    }
}