.footer__copyright{
    font-weight: normal;
    font-size: 18px;
    color: #545454;
    width: 100%;
    line-height: 1.2;
    margin-top: 67px;
    margin-bottom: 0;
}

@media screen and (max-width: 470px){
    .footer__copyright{
        font-size: 14px;
        margin-top: 48px;
        max-width: 95%;
        margin-left: auto;
    }
}